In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import numpy as np

In [2]:
column_names =['time','x','y','z'] 
len(column_names)

4

## Back Sitting Chair Fall

In [3]:
data_bsc = pd.read_csv('data/BSC.txt', sep=",", header=None)
data_bsc.columns = column_names
data_bsc['type'] = 'bsc'

In [4]:
data_bsc.head()

           time         x         y         z type
0  911472064000 -1.666364  9.739613  0.143652  bsc
1  911673405000 -1.235408  9.777920  0.306458  bsc
2  911872471000 -1.101333  9.835381  1.312023  bsc
3  911885869000 -0.861913  9.940725 -0.823605  bsc
4  911896098000 -0.775721  9.950302 -0.536301  bsc

## Fall Front Knees Lying

In [5]:
data_fkl = pd.read_csv('data/FKL.txt', sep=",", header=None)
data_fkl.columns = column_names
data_fkl['type'] = 'fkl'

In [6]:
data_fkl.head()

           time         x         y         z type
0  561619518000  3.715801  9.011775 -1.455675  fkl
1  561818752000  3.763685  9.011775 -1.474828  fkl
2  562018736000  3.734955  9.059659 -1.063026  fkl
3  562218931000  3.581726  8.714894 -1.225831  fkl
4  562419176000  3.734955  8.935161 -1.197101  fkl

## Fall Forward Lying

In [7]:
data_fol = pd.read_csv('data/FOL.txt', sep=",", header=None)
data_fol.columns = column_names
data_fol['type'] = 'fol'

In [8]:
data_fol.head()

           time         x         y         z type
0  419801058000  1.187524  9.672575 -2.212242  fol
1  419812667000  0.995988  9.586384 -2.193089  fol
2  419822071000  0.995988  9.586384 -2.193089  fol
3  419832007000  0.967258  9.595961 -2.193089  fol
4  419843289000  0.995988  9.662998 -2.116474  fol

## Sit chair

In [9]:
data_sch = pd.read_csv('data/SCH.txt', sep=",", header=None)
data_sch.columns = column_names
data_sch['type'] = 'sch'

In [10]:
data_sch.head()

            time         x         y         z type
0  8562514844000 -6.847417  7.144298 -0.565032  sch
1  8562722992000 -6.339846  7.757214 -0.229843  sch
2  8562735952000 -6.502652  7.230489 -0.478840  sch
3  8562748622000 -6.560112  7.038953  0.038307  sch
4  8562759152000 -6.713342  6.962338 -0.019154  sch

## Sideward lying

In [11]:
data_sdl = pd.read_csv('data/SDL.txt', sep=",", header=None)
data_sdl.columns = column_names
data_sdl['type'] = 'sdl'

In [12]:
data_sdl.head()

           time         x         y         z type
0  679415255000  1.551443  9.911995  0.900220  sdl
1  679616491000  1.790863  9.710882  0.928950  sdl
2  679815335000  1.292869  9.864111  1.254562  sdl
3  680015541000  1.197101  9.078813  1.139640  sdl
4  680215728000  1.723825  9.806650  1.551443  sdl

## Standing

In [13]:
data_std = pd.read_csv('data/STD.txt', sep=",", header=None)
data_std.columns = column_names
data_std['type'] = 'std'

In [14]:
data_std.head()

            time         x         y         z type
0  9626025270000 -4.223372  8.992621  0.430956  std
1  9626229520000 -4.050989  9.097966 -0.191536  std
2  9626239560000 -4.060566  9.097966  0.028730  std
3  9626253509000 -4.031836  9.050082  0.153229  std
4  9626264234000 -3.945644  9.021352  0.201113  std

## Stairs down

In [15]:
data_stn = pd.read_csv('data/STN.txt', sep=",", header=None)
data_stn.columns = column_names
data_stn['type'] = 'stn'

In [16]:
data_stn.head()

            time         x          y          z type
0  9195789507000 -0.009577  11.693281   0.593762  stn
1  9195989071000 -3.122039  14.279019  -3.610456  stn
2  9196189236000 -0.440533   8.485051   3.821146  stn
3  9196589403000  2.135628   8.341399  -0.363919  stn
4  9196791689000  3.821146  17.841590 -12.928689  stn

## Stairs up

In [17]:
data_stu = pd.read_csv('data/STU.txt', sep=",", header=None)
data_stu.columns = column_names
data_stu['type'] = 'stu'

In [18]:
data_stu.head()

            time         x         y         z type
0  9227686910000 -2.106898  9.701305 -0.402226  stu
1  9227886688000 -2.020706  9.710882 -0.450110  stu
2  9228086747000 -2.011129  9.653421 -0.565032  stu
3  9228288033000 -2.078167  9.825804  0.335188  stu
4  9228298244000 -2.116474  9.710882  0.181959  stu

## Walking

In [19]:
data_wal = pd.read_csv('data/WAL.txt', sep=",", header=None)
data_wal.columns = column_names
data_wal['type'] = 'wal'

In [20]:
data_wal.head()

             time         x         y         z type
0  10054606011000 -9.624691  1.656788  0.919373  wal
1  10054622783000 -9.509769  1.675941  0.660800  wal
2  10054634531000 -9.414001  1.695095  0.603339  wal
3  10054647569000 -9.385271  1.733402  0.689530  wal
4  10054656866000 -9.337387  1.819593  0.727837  wal

# Dataları Birleştirme

In [44]:
data=pd.concat([data_bsc,data_fkl,data_fol,data_sch,data_sdl,data_std,data_stn,data_stu,data_wal])
data['type'] = data['type'].astype('category')
data['type'] = data['type'].cat.codes

data.tail(100)

                 time         x          y          z  type
26243  10353453702000  1.455675   9.461885  -0.143652     8
26244  10353473847000  1.522712   9.145850   0.047884     8
26245  10353485920000  1.436521   9.375694   0.114922     8
26246  10353495583000  1.235408   9.643845  -0.019154     8
26247  10353505849000  0.976834   9.911995  -0.287304     8
...               ...       ...        ...        ...   ...
26338  10354557660000  1.024718  17.736246  15.188815     8
26339  10354567928000  0.804452  17.764977   9.605537     8
26340  10354579283000 -1.168370  12.890382   3.533842     8
26341  10354589335000 -3.179500  11.281479   0.383072     8
26342  10354599787000 -4.855441  10.678140  -1.580173     8

[100 rows x 5 columns]

In [45]:
data.index = data.time

In [46]:
data

                          time         x          y          z  type
time
911472064000      911472064000 -1.666364   9.739613   0.143652     0
911673405000      911673405000 -1.235408   9.777920   0.306458     0
911872471000      911872471000 -1.101333   9.835381   1.312023     0
911885869000      911885869000 -0.861913   9.940725  -0.823605     0
911896098000      911896098000 -0.775721   9.950302  -0.536301     0
...                        ...       ...        ...        ...   ...
10354557660000  10354557660000  1.024718  17.736246  15.188815     8
10354567928000  10354567928000  0.804452  17.764977   9.605537     8
10354579283000  10354579283000 -1.168370  12.890382   3.533842     8
10354589335000  10354589335000 -3.179500  11.281479   0.383072     8
10354599787000  10354599787000 -4.855441  10.678140  -1.580173     8

[58267 rows x 5 columns]

In [47]:
data.drop('time', axis=1, inplace=True)

In [48]:
data['x(t+1)'],data['y(t+1)'],data['z(t+1)'] = data.x.shift(1),data.y.shift(1),data.z.shift(1)
data.head()

                     x         y         z  type    x(t+1)    y(t+1)    z(t+1)
time
911472064000 -1.666364  9.739613  0.143652     0       NaN       NaN       NaN
911673405000 -1.235408  9.777920  0.306458     0 -1.666364  9.739613  0.143652
911872471000 -1.101333  9.835381  1.312023     0 -1.235408  9.777920  0.306458
911885869000 -0.861913  9.940725 -0.823605     0 -1.101333  9.835381  1.312023
911896098000 -0.775721  9.950302 -0.536301     0 -0.861913  9.940725 -0.823605

In [49]:
data['x(t+2)'],data['y(t+2)'],data['z(t+2)'] = data.x.shift(2),data.y.shift(2),data.z.shift(2)
data.head()

,x,y,z,type,x(t+1),y(t+1),z(t+1),x(t+2),y(t+2),z(t+2)
time,,,,,,,,,,
911472064000,-1.666364,9.739613,0.143652,0,NaN,NaN,NaN,NaN,NaN,NaN
911673405000,-1.235408,9.777920,0.306458,0,-1.666364,9.739613,0.143652,NaN,NaN,NaN
911872471000,-1.101333,9.835381,1.312023,0,-1.235408,9.777920,0.306458,-1.666364,9.739613,0.143652
911885869000,-0.861913,9.940725,-0.823605,0,-1.101333,9.835381,1.312023,-1.235408,9.777920,0.306458
911896098000,-0.775721,9.950302,-0.536301,0,-0.861913,9.940725,-0.823605,-1.101333,9.835381,1.312023

In [50]:
data = data.dropna()

In [51]:
data

,x,y,z,type,x(t+1),y(t+1),z(t+1),x(t+2),y(t+2),z(t+2)
time,,,,,,,,,,
911872471000,-1.101333,9.835381,1.312023,0,-1.235408,9.777920,0.306458,-1.666364,9.739613,0.143652
911885869000,-0.861913,9.940725,-0.823605,0,-1.101333,9.835381,1.312023,-1.235408,9.777920,0.306458
911896098000,-0.775721,9.950302,-0.536301,0,-0.861913,9.940725,-0.823605,-1.101333,9.835381,1.312023
911912360000,-0.756568,9.979032,-0.325611,0,-0.775721,9.950302,-0.536301,-0.861913,9.940725,-0.823605
911924489000,-0.785298,9.921572,0.019154,0,-0.756568,9.979032,-0.325611,-0.775721,9.950302,-0.536301
...,...,...,...,...,...,...,...,...,...,...
10354557660000,1.024718,17.736246,15.188815,8,-2.978387,15.926230,10.831368,-7.077260,12.306197,2.518700
10354567928000,0.804452,17.764977,9.605537,8,1.024718,17.736246,15.188815,-2.978387,15.926230,10.831368
10354579283000,-1.168370,12.890382,3.533842,8,0.804452,17.764977,9.605537,1.024718,17.736246,15.188815
10354589335000,-3.179500,11.281479,0.383072,8,-1.168370,12.890382,3.533842,0.804452,17.764977,9.605537
10354599787000,-4.855441,10.678140,-1.580173,8,-3.179500,11.281479,0.383072,-1.168370,12.890382,3.533842

In [52]:
print(data.type)

time
911872471000      0
911885869000      0
911896098000      0
911912360000      0
911924489000      0
                 ..
10354557660000    8
10354567928000    8
10354579283000    8
10354589335000    8
10354599787000    8
Name: type, Length: 58265, dtype: int8

In [53]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop('type', axis=1), data.type, test_size=0.33, random_state=42)

In [89]:
from tensorflow.keras import models, layers
import sklearn.metrics as metrics

In [90]:
nn2 = models.Sequential()
nn2.add(layers.Dense(128, input_shape=(X_train.shape[1],), activation='relu'))
nn2.add(layers.Dense(256, activation='relu'))
nn2.add(layers.Dense(256, activation='relu'))
nn2.add(layers.Dense(256, activation='relu'))
nn2.add(layers.Dense(256, activation='relu'))
nn2.add(layers.Dense(1, activation='linear'))

# Compiling the model
nn2.compile(loss='mean_squared_error',
            optimizer='adam',
            metrics=['mean_squared_error'])

# Printing the model summary
print(nn2.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 128)               1280
_________________________________________________________________
dense_5 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_6 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_7 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_8 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 257
=================================================================
Total params: 231,937
Trainable params: 231,937
Non-trainable params: 0
_________________________________________________________________
None

In [91]:
n2_history = nn2.fit(X_train,
                  y_train,
                  epochs=100,
                  batch_size=256,
                  validation_split = 0.1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 35133 samples, validate on 3904 samples
Epoch 1/100
35133/35133 [==============================] - 1s 34us/sample - loss: 2.8488 - mean_squared_error: 2.8488 - val_loss: 1.3989 - val_mean_squared_error: 1.3989
Epoch 2/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.8566 - mean_squared_error: 0.8566 - val_loss: 0.8126 - val_mean_squared_error: 0.8126
Epoch 3/100
35133/35133 [==============================] - 1s 28us/sample - loss: 0.5553 - mean_squared_error: 0.5553 - val_loss: 0.6026 - val_mean_squared_error: 0.6026
Epoch 4/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.5274 - mean_squared_error: 0.5274 - val_loss: 0.5589 - val_mean_squared_error: 0.5589
Epoch 5/100
35133/35133 [==============================] - 1s 28us/sample - loss: 0.4654 - mean_squared_error: 0.4654 - val_loss: 0.7477 - val_mean_squared_error: 0.7477
Epoch 6/100
35133/35133 [==============================] - 1s 28us/sample - loss: 0.4836 - mean_squared_error: 0.4836 - val_loss: 0.4320 - val_mean_squared_error: 0.4320
Epoch 7/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.4221 - mean_squared_error: 0.4221 - val_loss: 0.4505 - val_mean_squared_error: 0.4505
Epoch 8/100
35133/35133 [==============================] - 1s 28us/sample - loss: 0.4228 - mean_squared_error: 0.4228 - val_loss: 0.4482 - val_mean_squared_error: 0.4482
Epoch 9/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.3907 - mean_squared_error: 0.3907 - val_loss: 0.5447 - val_mean_squared_error: 0.5447
Epoch 10/100
35133/35133 [==============================] - 1s 28us/sample - loss: 0.3874 - mean_squared_error: 0.3874 - val_loss: 0.4852 - val_mean_squared_error: 0.4852
Epoch 11/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.3827 - mean_squared_error: 0.3827 - val_loss: 0.4080 - val_mean_squared_error: 0.4080
Epoch 12/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.3703 - mean_squared_error: 0.3703 - val_loss: 0.3676 - val_mean_squared_error: 0.3676
Epoch 13/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.3364 - mean_squared_error: 0.3364 - val_loss: 0.3321 - val_mean_squared_error: 0.3321
Epoch 14/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.3266 - mean_squared_error: 0.3266 - val_loss: 0.3790 - val_mean_squared_error: 0.3790
Epoch 15/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.3228 - mean_squared_error: 0.3228 - val_loss: 0.3443 - val_mean_squared_error: 0.3443
Epoch 16/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.3251 - mean_squared_error: 0.3251 - val_loss: 0.3363 - val_mean_squared_error: 0.3363
Epoch 17/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.3023 - mean_squared_error: 0.3023 - val_loss: 0.3350 - val_mean_squared_error: 0.3350
Epoch 18/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.2975 - mean_squared_error: 0.2975 - val_loss: 0.3122 - val_mean_squared_error: 0.3122
Epoch 19/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2868 - mean_squared_error: 0.2868 - val_loss: 0.3824 - val_mean_squared_error: 0.3824
Epoch 20/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2949 - mean_squared_error: 0.2949 - val_loss: 0.3876 - val_mean_squared_error: 0.3876
Epoch 21/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.2895 - mean_squared_error: 0.2895 - val_loss: 0.3148 - val_mean_squared_error: 0.3148
Epoch 22/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2821 - mean_squared_error: 0.2821 - val_loss: 0.3051 - val_mean_squared_error: 0.3051
Epoch 23/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.2782 - mean_squared_error: 0.2782 - val_loss: 0.3496 - val_mean_squared_error: 0.3496
Epoch 24/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2630 - mean_squared_error: 0.2630 - val_loss: 0.3211 - val_mean_squared_error: 0.3211
Epoch 25/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2779 - mean_squared_error: 0.2779 - val_loss: 0.2815 - val_mean_squared_error: 0.2815
Epoch 26/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.2532 - mean_squared_error: 0.2532 - val_loss: 0.3374 - val_mean_squared_error: 0.3374
Epoch 27/100
35133/35133 [==============================] - 1s 37us/sample - loss: 0.2661 - mean_squared_error: 0.2661 - val_loss: 0.2843 - val_mean_squared_error: 0.2843
Epoch 28/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.2441 - mean_squared_error: 0.2441 - val_loss: 0.3164 - val_mean_squared_error: 0.3164
Epoch 29/100
35133/35133 [==============================] - 1s 37us/sample - loss: 0.2525 - mean_squared_error: 0.2525 - val_loss: 0.2473 - val_mean_squared_error: 0.2473
Epoch 30/100
35133/35133 [==============================] - 1s 39us/sample - loss: 0.2568 - mean_squared_error: 0.2568 - val_loss: 0.2976 - val_mean_squared_error: 0.2976
Epoch 31/100
35133/35133 [==============================] - 1s 41us/sample - loss: 0.2714 - mean_squared_error: 0.2714 - val_loss: 0.3010 - val_mean_squared_error: 0.3010
Epoch 32/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.2403 - mean_squared_error: 0.2403 - val_loss: 0.2808 - val_mean_squared_error: 0.2808
Epoch 33/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.2339 - mean_squared_error: 0.2339 - val_loss: 0.3172 - val_mean_squared_error: 0.3172
Epoch 34/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.2328 - mean_squared_error: 0.2328 - val_loss: 0.2475 - val_mean_squared_error: 0.2475
Epoch 35/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.2299 - mean_squared_error: 0.2299 - val_loss: 0.2639 - val_mean_squared_error: 0.2639
Epoch 36/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.2172 - mean_squared_error: 0.2172 - val_loss: 0.2969 - val_mean_squared_error: 0.2969
Epoch 37/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.2181 - mean_squared_error: 0.2181 - val_loss: 0.2796 - val_mean_squared_error: 0.2796
Epoch 38/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.2131 - mean_squared_error: 0.2131 - val_loss: 0.3169 - val_mean_squared_error: 0.3169
Epoch 39/100
35133/35133 [==============================] - 1s 36us/sample - loss: 0.2159 - mean_squared_error: 0.2159 - val_loss: 0.2778 - val_mean_squared_error: 0.2778
Epoch 40/100
35133/35133 [==============================] - 1s 38us/sample - loss: 0.2046 - mean_squared_error: 0.2046 - val_loss: 0.3031 - val_mean_squared_error: 0.3031
Epoch 41/100
35133/35133 [==============================] - 2s 51us/sample - loss: 0.2030 - mean_squared_error: 0.2030 - val_loss: 0.2514 - val_mean_squared_error: 0.2514
Epoch 42/100
35133/35133 [==============================] - 2s 56us/sample - loss: 0.2060 - mean_squared_error: 0.2060 - val_loss: 0.2431 - val_mean_squared_error: 0.2431
Epoch 43/100
35133/35133 [==============================] - 2s 45us/sample - loss: 0.2293 - mean_squared_error: 0.2293 - val_loss: 0.3081 - val_mean_squared_error: 0.3081
Epoch 44/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.2033 - mean_squared_error: 0.2033 - val_loss: 0.3098 - val_mean_squared_error: 0.3098
Epoch 45/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.2106 - mean_squared_error: 0.2106 - val_loss: 0.3229 - val_mean_squared_error: 0.3229
Epoch 46/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1968 - mean_squared_error: 0.1968 - val_loss: 0.2722 - val_mean_squared_error: 0.2722
Epoch 47/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1817 - mean_squared_error: 0.1817 - val_loss: 0.2492 - val_mean_squared_error: 0.2492

Epoch 48/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1873 - mean_squared_error: 0.1873 - val_loss: 0.3042 - val_mean_squared_error: 0.3042
Epoch 49/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1874 - mean_squared_error: 0.1874 - val_loss: 0.2373 - val_mean_squared_error: 0.2373
Epoch 50/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.1885 - mean_squared_error: 0.1885 - val_loss: 0.2486 - val_mean_squared_error: 0.2486
Epoch 51/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1823 - mean_squared_error: 0.1823 - val_loss: 0.2503 - val_mean_squared_error: 0.2503
Epoch 52/100
35133/35133 [==============================] - 1s 42us/sample - loss: 0.1816 - mean_squared_error: 0.1816 - val_loss: 0.2963 - val_mean_squared_error: 0.2963
Epoch 53/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1793 - mean_squared_error: 0.1793 - val_loss: 0.2948 - val_mean_squared_error: 0.2948
Epoch 54/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1757 - mean_squared_error: 0.1757 - val_loss: 0.2590 - val_mean_squared_error: 0.2590
Epoch 55/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.2142 - mean_squared_error: 0.2142 - val_loss: 0.2781 - val_mean_squared_error: 0.2781
Epoch 56/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.1956 - mean_squared_error: 0.1956 - val_loss: 0.3188 - val_mean_squared_error: 0.3188
Epoch 57/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1738 - mean_squared_error: 0.1738 - val_loss: 0.2501 - val_mean_squared_error: 0.2501
Epoch 58/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1554 - mean_squared_error: 0.1554 - val_loss: 0.2448 - val_mean_squared_error: 0.2448
Epoch 59/100
35133/35133 [==============================] - 1s 37us/sample - loss: 0.1661 - mean_squared_error: 0.1661 - val_loss: 0.2300 - val_mean_squared_error: 0.2300
Epoch 60/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1646 - mean_squared_error: 0.1646 - val_loss: 0.2671 - val_mean_squared_error: 0.2671
Epoch 61/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.1605 - mean_squared_error: 0.1605 - val_loss: 0.2305 - val_mean_squared_error: 0.2305
Epoch 62/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1643 - mean_squared_error: 0.1643 - val_loss: 0.2496 - val_mean_squared_error: 0.2496
Epoch 63/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.1635 - mean_squared_error: 0.1635 - val_loss: 0.2550 - val_mean_squared_error: 0.2550
Epoch 64/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1625 - mean_squared_error: 0.1625 - val_loss: 0.2254 - val_mean_squared_error: 0.2254
Epoch 65/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1605 - mean_squared_error: 0.1605 - val_loss: 0.2862 - val_mean_squared_error: 0.2862
Epoch 66/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1636 - mean_squared_error: 0.1636 - val_loss: 0.2268 - val_mean_squared_error: 0.2268
Epoch 67/100
35133/35133 [==============================] - 1s 40us/sample - loss: 0.1650 - mean_squared_error: 0.1650 - val_loss: 0.2496 - val_mean_squared_error: 0.2496
Epoch 68/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.1616 - mean_squared_error: 0.1616 - val_loss: 0.2572 - val_mean_squared_error: 0.2572
Epoch 69/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1416 - mean_squared_error: 0.1416 - val_loss: 0.2189 - val_mean_squared_error: 0.2189
Epoch 70/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1391 - mean_squared_error: 0.1391 - val_loss: 0.2274 - val_mean_squared_error: 0.2274
Epoch 71/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1488 - mean_squared_error: 0.1488 - val_loss: 0.2520 - val_mean_squared_error: 0.2520
Epoch 72/100
35133/35133 [==============================] - 1s 29us/sample - loss: 0.1394 - mean_squared_error: 0.1394 - val_loss: 0.2413 - val_mean_squared_error: 0.2413
Epoch 73/100
35133/35133 [==============================] - 1s 34us/sample - loss: 0.1390 - mean_squared_error: 0.1390 - val_loss: 0.2299 - val_mean_squared_error: 0.2299
Epoch 74/100
35133/35133 [==============================] - 1s 36us/sample - loss: 0.1665 - mean_squared_error: 0.1665 - val_loss: 0.2874 - val_mean_squared_error: 0.2874
Epoch 75/100
35133/35133 [==============================] - 1s 37us/sample - loss: 0.1536 - mean_squared_error: 0.1536 - val_loss: 0.2328 - val_mean_squared_error: 0.2328
Epoch 76/100
35133/35133 [==============================] - 1s 36us/sample - loss: 0.1295 - mean_squared_error: 0.1295 - val_loss: 0.2200 - val_mean_squared_error: 0.2200
Epoch 77/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1323 - mean_squared_error: 0.1323 - val_loss: 0.2113 - val_mean_squared_error: 0.2113
Epoch 78/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1257 - mean_squared_error: 0.1257 - val_loss: 0.2365 - val_mean_squared_error: 0.2365
Epoch 79/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1250 - mean_squared_error: 0.1250 - val_loss: 0.2637 - val_mean_squared_error: 0.2637
Epoch 80/100
35133/35133 [==============================] - 1s 40us/sample - loss: 0.1528 - mean_squared_error: 0.1528 - val_loss: 0.2225 - val_mean_squared_error: 0.2225
Epoch 81/100
35133/35133 [==============================] - 1s 36us/sample - loss: 0.1279 - mean_squared_error: 0.1279 - val_loss: 0.2366 - val_mean_squared_error: 0.2366
Epoch 82/100
35133/35133 [==============================] - 1s 37us/sample - loss: 0.1338 - mean_squared_error: 0.1338 - val_loss: 0.2609 - val_mean_squared_error: 0.2609
Epoch 83/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1361 - mean_squared_error: 0.1361 - val_loss: 0.2805 - val_mean_squared_error: 0.2805
Epoch 84/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1229 - mean_squared_error: 0.1229 - val_loss: 0.2446 - val_mean_squared_error: 0.2446
Epoch 85/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.1382 - mean_squared_error: 0.1382 - val_loss: 0.2377 - val_mean_squared_error: 0.2377
Epoch 86/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1288 - mean_squared_error: 0.1288 - val_loss: 0.2505 - val_mean_squared_error: 0.2505
Epoch 87/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1201 - mean_squared_error: 0.1201 - val_loss: 0.2848 - val_mean_squared_error: 0.2848
Epoch 88/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1237 - mean_squared_error: 0.1237 - val_loss: 0.2425 - val_mean_squared_error: 0.2425
Epoch 89/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1432 - mean_squared_error: 0.1432 - val_loss: 0.2881 - val_mean_squared_error: 0.2881
Epoch 90/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1285 - mean_squared_error: 0.1285 - val_loss: 0.2441 - val_mean_squared_error: 0.2441
Epoch 91/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1197 - mean_squared_error: 0.1197 - val_loss: 0.2350 - val_mean_squared_error: 0.2350
Epoch 92/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1197 - mean_squared_error: 0.1197 - val_loss: 0.2562 - val_mean_squared_error: 0.2562
Epoch 93/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1229 - mean_squared_error: 0.1229 - val_loss: 0.2569 - val_mean_squared_error: 0.2569
Epoch 94/100
35133/35133 [==============================] - 1s 35us/sample - loss: 0.1168 - mean_squared_error: 0.1168 - val_loss: 0.2682 - val_mean_squared_error: 0.2682
Epoch 95/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1205 - mean_squared_error: 0.1205 - val_loss: 0.2489 - val_mean_squared_error: 0.2489

Epoch 96/100
35133/35133 [==============================] - 1s 31us/sample - loss: 0.1206 - mean_squared_error: 0.1206 - val_loss: 0.2365 - val_mean_squared_error: 0.2365
Epoch 97/100
35133/35133 [==============================] - 1s 30us/sample - loss: 0.0985 - mean_squared_error: 0.0985 - val_loss: 0.2266 - val_mean_squared_error: 0.2266
Epoch 98/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1079 - mean_squared_error: 0.1079 - val_loss: 0.2427 - val_mean_squared_error: 0.2427
Epoch 99/100
35133/35133 [==============================] - 1s 32us/sample - loss: 0.1069 - mean_squared_error: 0.1069 - val_loss: 0.2547 - val_mean_squared_error: 0.2547
Epoch 100/100
35133/35133 [==============================] - 1s 33us/sample - loss: 0.1117 - mean_squared_error: 0.1117 - val_loss: 0.2308 - val_mean_squared_error: 0.2308

In [92]:
y_test_pred = nn2.predict(X_test)
y_train_pred = nn2.predict(X_train)
print("Training R squared:", round(metrics.r2_score(y_train, y_train_pred),4))
print("Validation R squared:", round(metrics.r2_score(y_test, y_test_pred),4))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Training R squared: 0.9699
Validation R squared: 0.933

In [83]:
from numpy import array
Xnew = array([[0.89337759, 0.65864154]])
# make a prediction
ynew = model.predict_classes(Xnew)

ValueError: Error when checking input: expected dense_7_input to have shape (9,) but got array with shape (2,)

In [95]:
keras_file = "cnn.h5"
nn2.save(keras_file)

In [96]:
converter=lite.TFLiteConverter.from_keras_model(nn2)

In [97]:
tfmodel = converter.convert()
open("cnn.tflite","wb").write(tfmodel)

930276

In [54]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [55]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=3
)

In [56]:
regressor.fit(X_train, y_train)

[21:31:41] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [57]:
y_pred = regressor.predict(X_test)

In [58]:
y_pred

array([4.9933305, 4.9933305, 7.906063 , ..., 4.9965568, 8.006611 ,
       8.089891 ], dtype=float32)

In [59]:
mean_squared_error(y_test, y_pred)

0.5434867

In [60]:
y_test

time
9821655086000     5
9889453780000     5
10295503250000    8
9844723620000     5
428946548000      2
                 ..
570331053000      1
9834882169000     5
9808407208000     5
10098793990000    8
10351774066000    8
Name: type, Length: 19228, dtype: int8

In [62]:
model.save_weights("xgboost_model.h5")

In [63]:
from tensorflow import lite

AttributeError: 'XGBRegressor' object has no attribute 'call'